.main__cover {
  margin-top: 92px;
}

@media screen and (max-width: 864px) {
  .main__cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 545px) {
  .main__cover {
    margin-top: 60px;
  }
}