@import url(../vendor/css/normalize.css);
@import url(../vendor/fonts/inter/inter.css);

.page {
  background-color         : #2a2c2f;
  -moz-osx-font-smoothing  : grayscale;
  -webkit-font-smoothing   : antialiased;
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust     : 100%;
  -moz-text-size-adjust    : 100%;
  text-rendering           : optimizeLegibility;
  font-family              : "Inter", sans-serif, Arial;
}

.page__header {
  margin-top : 28px;
}

.page__footer {
  margin-top    : 92px;
  margin-bottom : 24px;
}

.header {
  max-width    : 1280px;
  display      : flex;
  margin-left  : auto;
  margin-right : auto;
  gap          : 18px;
  align-items  : flex-end;
  padding      : 0 48px 0 48px;
  box-sizing   : border-box;
}

.header__logo {
  background-image : url(../images/header-logo.svg);
  width            : 176px;
  height           : 52px;
  margin-right     : auto;
  background-size  : contain;
}

.header__lang-link {
  font-style      : normal;
  font-weight     : 400;
  font-size       : 24px;
  line-height     : 1.17;
  color           : #fff;
  text-decoration : none;
}

.header__lang-link_active {
  text-decoration : underline;
}

.main__lead {
  margin-top : 56px;
}

.main__intro {
  margin-top : 92px;
}

.main__photo-grid {
  margin-top : 92px;
}

.main__places {
  margin-top : 92px;
}

.main__cover {
  margin-top : 92px;
}

.lead__title {
  font-style  : normal;
  font-weight : 900;
  font-size   : 96px;
  line-height : 1.04;
  text-align  : center;
  color       : #fff;
  max-width   : 768px;
  margin      : 0 auto;
  box-sizing  : border-box;
}

.lead__subtitle {
  max-width   : 640px;
  font-style  : normal;
  font-weight : 400;
  font-size   : 30px;
  line-height : 1.2;
  text-align  : center;
  color       : #fff;
  margin      : 32px auto 0 auto;
  box-sizing  : border-box;
}

.lead__figure {
  max-width  : 1080px;
  margin     : 64px auto 0 auto;
  padding    : 0 48px 0 48px;
  box-sizing : border-box;
}

.lead__image {
  width      : 100%;
  max-height : 615px;
}

.lead__caption {
  font-style     : normal;
  font-weight    : 400;
  font-size      : 10px;
  line-height    : 1.4;
  letter-spacing : 1.5px;
  text-transform : uppercase;
  color          : #fff;
  margin         : 8px 0 0 0;
}

.intro {
  max-width    : 1080px;
  margin-left  : auto;
  margin-right : auto;
  padding      : 0 48px 0 48px;
  box-sizing   : border-box;
}

.intro__title {
  font-style  : normal;
  font-weight : 900;
  font-size   : 54px;
  line-height : 1.07;
  color       : #fff;
  margin      : 0;
}

.intro__text {
  max-width   : 690px;
  font-style  : normal;
  font-weight : 400;
  font-size   : 16px;
  line-height : 1.63;
  color       : #fff;
  margin      : 40px 0 0 0;
}

.intro__list {
  max-width  : 690px;
  list-style : none;
  padding    : 0;
  margin     : 33px 0 0 0;
}

.intro__list-item {
  font-style  : normal;
  font-weight : 700;
  font-size   : 12px;
  line-height : 1.5;
  color       : #fff;
  margin      : 0;
}

.intro__data {
  font-weight : 400;
}

.photo-grid {
  max-width             : 1280px;
  margin-left           : auto;
  margin-right          : auto;
  display               : grid;
  grid-gap              : 16px;
  grid-template-columns : repeat(4, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns : repeat(4, minmax(min-content, max-content));
  grid-template-rows    : repeat(3, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows    : repeat(3, minmax(min-content, max-content));
  padding               : 0 48px 0 48px;
  box-sizing            : border-box;
}

.photo-grid__item {
  width : 100%;
}

.places {
  display        : flex;
  flex-direction : column;
  gap            : 80px;

}

.place {
  max-width             : 1080px;
  margin-left           : auto;
  margin-right          : auto;
  display               : grid;
  grid-template-columns : minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows    : repeat(3, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows    : repeat(3, minmax(min-content, max-content));
  justify-content       : space-between;
  grid-column-gap       : 40px;
  padding               : 0 48px 0 48px;
  box-sizing            : border-box;
}

.place__title {
  font-style  : normal;
  font-weight : 900;
  font-size   : 72px;
  line-height : 1.06;
  color       : #fff;
  margin      : 0;
}

.place__website {
  display         : flex;
  justify-content : flex-end;
  gap             : 12px;
  flex-direction  : column;
}

.place__url-heading {
  font-style     : normal;
  font-weight    : 400;
  font-size      : 12px;
  line-height    : 1.2;
  letter-spacing : 2px;
  color          : #aaa;
  margin         : 0;
}

.place__link {
  font-style                   : normal;
  font-weight                  : 400;
  font-size                    : 18px;
  line-height                  : 1.22;
  -webkit-text-decoration-line : underline;
  text-decoration-line         : underline;
  color                        : #fff;
  margin                       : 0;
}

.place__image {
  width      : 100%;
  grid-row   : 2 / 4;
  margin-top : 48px;
}

.place__paragraph {
  font-style  : normal;
  font-weight : 400;
  font-size   : 18px;
  line-height : 1.63;
  color       : #fff;
  margin      : 48px 0 0 0;
}

.place__paragraph + .place__paragraph {
  margin-top : 26px;
}

.cover__background {
  max-width        : 1184px;
  min-height       : 740px;
  display          : flex;
  background-image : url(../images/cover-trains.jpg);
  background-size  : cover;
  margin           : 0 auto;
  flex-direction   : column;
  align-items      : center;
  justify-content  : center;
  text-decoration  : none;
  gap              : 32px;
  position         : relative;
}

.cover__background::before {
  content          : "";
  background-color : #2a2c2f;
  position         : absolute;
  width            : 100%;
  height           : 100%;
  opacity          : 0.3;
  z-index          : 1;
  transition       : opacity 0.5s linear;
}

.cover__background:hover::before {
  opacity : 0.8;
}

.hover-link {
  transition : opacity 0.3s linear;
}

.hover-link:hover {
  opacity : 0.8;
}

.cover__title {
  max-width   : 560px;
  font-style  : normal;
  font-weight : 900;
  font-size   : 72px;
  line-height : 1.06;
  text-align  : center;
  color       : #fff;
  margin      : 0;
  z-index     : 2;
}

.cover__subtitle {
  margin      : 0;
  max-width   : 360px;
  font-style  : normal;
  font-weight : 400;
  font-size   : 18px;
  line-height : 1.22;
  text-align  : center;
  color       : #fff;
  z-index     : 2;
}

.footer {
  display      : flex;
  align-items  : center;
  gap          : 18px;
  max-width    : 1280px;
  margin-left  : auto;
  margin-right : auto;
  padding      : 0 48px 0 48px;
  box-sizing   : border-box;
}

.footer__link {
  font-style      : normal;
  font-weight     : 400;
  font-size       : 16px;
  line-height     : 1.12;
  color           : #fff;
  text-decoration : none;
}

.footer__copyright {
  font-style  : normal;
  font-weight : 400;
  font-size   : 14px;
  line-height : 1.14;
  color       : #fff;
  margin      : 0 0 0 auto;
}

@media screen and (max-width : 1024px) {
  .main__lead {
    margin-top : 48px;
  }

  .lead__figure {
    margin-top : 56px;
  }

  .photo-grid {
    grid-template-columns : repeat(3, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns : repeat(3, minmax(min-content, max-content));
    grid-template-rows    : repeat(4, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-rows    : repeat(4, minmax(min-content, max-content));
    gap                   : 14px;
  }

  .place {
    grid-template-columns : minmax(340px, 440px) minmax(352px, 456px);
    grid-template-rows    : repeat(3, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-rows    : repeat(3, minmax(min-content, max-content));
    grid-column-gap       : 32px;
  }

  .cover__background {
    min-height : 640px;
  }
}

@media screen and (max-width : 864px) {
  .header {
    padding : 0 24px 0 24px;
  }

  .lead__title {
    padding : 0 24px 0 24px;
  }

  .lead__figure {
    padding : 0 calc((100% - 768px) / 2) 0 calc((100% - 768px) / 2);
  }

  .lead__caption {
    box-sizing  : border-box;
    margin-left : 24px;
  }

  .main__intro {
    margin-top : 88px;
  }

  .intro {
    padding : 0 24px 0 24px;
  }

  .main__photo-grid {
    margin-top : 88px;
  }

  .photo-grid {
    grid-template-columns : repeat(2, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns : repeat(2, minmax(min-content, max-content));
    grid-template-rows    : repeat(6, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-rows    : repeat(6, minmax(min-content, max-content));
    gap                   : 16px;
    padding               : 0 24px 0 24px;
  }

  .main__places {
    margin-top : 88px;
  }

  .place {
    grid-column-gap : 28px;
    padding         : 0 24px 0 24px;
  }

  .place__title {
    font-size   : 42px;
    line-height : 1.1;
  }

  .place__paragraph {
    font-size : 16px;
  }

  .place__paragraph + .place__paragraph {
    margin-top : 26px;
  }

  .main__cover {
    margin-top : 90px;
  }

  .page__footer {
    margin-top : 88px;
  }

  .footer {
    padding : 0 24px 0 24px;
  }

  .cover__background {
    min-height : 480px;
  }
}

@media screen and (max-width : 767px) {
  .intro {
    padding : 0 16px 0 16px;
  }

  .places {
    gap : 50px;
  }

  .place {
    padding               : 0;
    grid-template-columns : minmax(-webkit-min-content, -webkit-max-content);
    grid-template-columns : minmax(min-content, max-content);
    grid-template-rows    : repeat(6, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-rows    : repeat(6, minmax(min-content, max-content));
  }

  .place__title {
    font-size   : 32px;
    line-height : 1.09;
    padding     : 0 16px 0 16px;
  }

  .place__website {
    padding    : 0 16px 0 16px;
    margin-top : 32px;
  }

  .place__image {
    grid-row   : 3 / 4;
    margin-top : 32px;
  }

  .place__paragraph {
    margin-top : 32px;
    padding    : 0 16px 0 16px;
  }

  .place__paragraph + .place__paragraph {
    margin-top : 25px;
  }

  .cover__title {
    padding : 0 16px 0 16px;
  }

  .cover__subtitle {
    padding : 0 16px 0 16px;
  }

  .page__footer {
    margin-top : 64px;
  }

  .footer {
    flex-direction : column;
    gap            : 32px;
    align-items    : flex-start;
    padding        : 0 16px 0 16px;
    box-sizing     : border-box;
  }

  .footer__link {
    font-size   : 24px;
    line-height : 1;
  }

  .footer__copyright {
    margin      : 16px 0 0 0;
    line-height : 1;
  }

  .page__header {
    margin-top : 16px;
  }

  .header {
    padding : 0 16px 0 16px;
  }

  .header__logo {
    width  : 142px;
    height : 42px;
  }

  .header__lang-link {
    font-size   : 18px;
    line-height : 1.11;
  }

  .lead__title {
    font-size   : 40px;
    line-height : 1.1;
    padding     : 0 16px 0 16px;
  }

  .lead__subtitle {
    margin-top  : 16px;
    font-size   : 16px;
    line-height : 1.25;
    padding     : 0 16px 0 16px;
  }

  .lead__figure {
    margin-top : 40px;
  }

  .lead__caption {
    margin-left : 16px;
  }
}

@media screen and (max-width : 545px) {
  .main__intro {
    margin-top : 64px;
  }

  .intro__title {
    font-size   : 32px;
    line-height : 1.09;
  }

  .intro__list {
    margin-top : 34px;
  }

  .main__photo-grid {
    margin-top : 64px;
  }

  .photo-grid {
    padding               : 0 16px 0 16px;
    grid-template-columns : minmax(-webkit-min-content, -webkit-max-content);
    grid-template-columns : minmax(min-content, max-content);
    grid-template-rows    : repeat(12, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-rows    : repeat(12, minmax(min-content, max-content));
    grid-gap              : 12px;
  }

  .main__places {
    margin-top : 64px;
  }

  .main__cover {
    margin-top : 66px;
  }

  .cover__background {
    gap : 16px;
  }

  .cover__title {
    font-size   : 32px;
    line-height : 1.09;
  }

  .cover__subtitle {
    font-size   : 14px;
    line-height : 1.14;
  }
}