.main__photo-grid {
  margin-top: 92px;
}

@media screen and (max-width: 864px) {
  .main__photo-grid {
    margin-top: 88px;
  }
}

@media screen and (max-width: 545px) {
  .main__photo-grid {
    margin-top: 64px;
  }
}