.cover__background {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 32px;
  position: relative;
}

.cover__background::before {
  content: "";
  background-color: #2a2c2f;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.5s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 864px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 545px) {
  .cover__background {
    gap: 16px;
  }
}